body  {
    background-color: lightblue;
    text-align: center;
}

#titleHeader{
    text-align: center;
    font-family: 'Chango', cursive;
    color: palegoldenrod;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
    font-size: 350%;
}

#subHeader{
    font-family: 'Montserrat', sans-serif;
}

#formDiv{
    display:block;
    text-align: center;
    width:100%;
}

#imagelink{
    font-family: 'Montserrat', sans-serif;
    width: 40%;
    text-align: center;
}

#upperText{
    font-family: 'Montserrat', sans-serif;
    width:40%;
    text-align: center;
}

#lowerText{
    font-family: 'Montserrat', sans-serif;
    width:40%;
    text-align: center;
}

#generate{
    font-family: 'Chango', cursive;
    color: palegoldenrod;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

#footerID{
    font-family: 'Montserrat', sans-serif;
    font-size: xx-small;
    color: black;
}

#memeZone{
    position:relative;
    text-align: center;
    display: inline-block;
}

#memeDivID{
    position:relative;
    display: inline-block;
}

#pictureID{
    display: block;
    max-width:500px;
    max-height:400px;
    margin-left: auto;
    margin-right: auto;
}

#upperTextID{
    position:absolute;
    font-family: Impact;
    color:white;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
    font-size:200%;
    word-wrap: break-word;
    left:20px;
    top:5px;
    max-width:450px;
    width:100%
}

#lowerTextID{
    position:absolute;
    font-family: Impact;
    color:white;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
    font-size:200%;
    word-wrap: break-word;
    bottom:5px;
    left:20px;
    max-width:450px;
    width:100%
}

#overlayID{
    position:absolute;
    left:0;
    top:0;
}